{% extends "layout.html" %}

{% block title %}
    BUY Stock
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Share" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">BUY NOW</button>
        <br>
        <br>
        <h1>Hope you have researched well before investing in this stock  ! </h1>
        <img src="https://i.pinimg.com/originals/64/8c/40/648c401d41a18c90ff74fa9f96a7095e.jpg" alt="coin" style="max-width:100%" >

    </form>
{% endblock %}
