{% extends "layout.html" %}

{% block title %}
    Explain Me Panda
{% endblock %}

{% block main %}
    <div>
        <img src="https://images7.alphacoders.com/342/thumb-1920-342341.jpg" alt="greeting Panda">
    </div>
    <br>
    <div>
        <h3> <i>Hello buddy , it's me , the Dragon Warrior . So you have made up your mind to try out investing in stocks . Cool . I will guide you in this exciting journey .</i>
        </h3>
        <br>
        <h2>Step by Step approach to Invest in Share Market in India</h2>
        <p>George F. Baker, an American financier and philanthropist once famously gave the mantra<br>
            <strong>
“To make money in stocks you must have the vision to see them, the courage to buy them, and the patience to hold them.” </strong><br><br>

There are literally thousands of companies listed on the BSE( Sensex) and NSE(Nifty). Unless you are armed with an approach that you could use to filter out, you would get lost in the sea of companies.

The investing approach that I am going to share with you is the one that I personally practice to filter stocks before investing in them.

Value investing is an ocean in itself and its practitioners go through a tedious process of analyzing stocks by reading through the financial statements, annual reports, and various other information pertaining to the financial health of the company before investing.

But, based on my learnings over the past many years, I have come up with the following simple and practical tips which you use to kick-start your journey of picking stocks even without having a deep financial knowledge.
    </p>
    <h2>Screening and Filtering the right stocks using Financials</h2>
    <p>There are thousands of stocks listed on BSE and NSE and it’s almost impossible to investigate each and every one of them by going through their entire financial information.<br>Therefore, for your initial consideration, you can use the below easy to implement screening criteria to filter out those stocks whose fundamentals look strong.<br>Screening criteria :
        <ul>
            <li>Market Cap > Rs 500 cr</li>
            <li>Sales and Profit growth >10% </li>
            <li>Earnings Per Share(EPS) growth rate is increasing for the past 5 years</li>
            <li>Debt to Equity Ratio < 1 </li>
            <li>Return on Equity(RoE) >20% </li>
            <li>Price to Book value(P/B) <= 1.5 or low compared to peer companies within the same industry</li>
            <li>Price to Earnings(P/E) < 25 or low compared to peer companies within the same industry </li>
            <li>Current Ratio > 1 </li>
        </ul>
        <br>
    You don’t have to scratch your head to get the above financial information. Online screener tools available on financial platforms like Moneycontrol and EquityMaster provide this information readily.


    </div>
{% endblock %}
